@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  caret-shape: block;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans Mono", monospace;
  background: rgb(21,21,64,1);

}

.scroll-container{

}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: underline;
  color: inherit;
  font-weight: 600;
}

p {
  color: #ddd;
  font-size: 1.25rem;
  line-height: 1.5;
  height: min-content;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

/* li, ul, ol { */
/*   text-decoration: none; */
/*   list-style: none; */
/* } */

pre {
  display: inline;
  background-color: #222;
  padding: 0 0.5rem;
}
