* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(21,21,64,1);
}

.scroll-container{
  background: rgb(21,21,21);
  background: linear-gradient(115deg, rgba(21,21,21,1) 10%, rgba(21,21,64,1) 100%);
}
